@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.done {
  text-decoration: line-through;
}

h1 {
  font-weight: normal;
  margin: 50px;
}

button {
  margin-left: 15px;
  padding: 8px 20px;
  color: white;
  border: none;
}

button:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.btn-green {
  background-color: #00A03E;
}

.btn-green:hover {
  background-color: rgb(123, 206, 0);
}

.btn-blue {
  background-color: rgb(0, 182, 228);
}

.btn-blue:hover {
  background-color: rgb(71, 161, 202);
}

.btn-red {
  background-color: #ED1C24;
}
.btn-red:hover {
  background-color: #F05B47;
}

input {
  width: 250px;
  height: 18px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(221, 221, 221);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.item {
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 10px;
  width: 70%;
  box-shadow: 0 0 10px lightgray;
}

.item:hover {
  box-shadow: 0 0 15px rgb(185, 185, 185);
}

.item-desc {
  width: 60%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  word-break: break-all;
  vertical-align: middle;
  /* background-color: red; */
}

.btn-wrapper {
  width: 30%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  /* height: 100px; */
  /* background-color: #00A03E; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
